@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: logoFont;
    src: url(assets/fonts/Neuropol.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

  
img {
max-width: 100%;
display: block;
height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}
  
:root {
    --primary-color: rgb(24, 24, 24);
    --secondary-color: rgb(235, 235, 240);
    --secondary-darker: rgb(229, 229, 234);
    --placeholder-color: rgb(142, 142, 147);
    --searchbar-bg: rgb(44, 44, 46);
    --card-color: #1f1f1f;
    --icon-color: brightness(0) saturate(100%) invert(66%) sepia(3%) saturate(393%) hue-rotate(202deg) brightness(85%) contrast(85%);

}

  
img {
    max-width: 100%;
    display: block;
    height: auto;
}

.logo h1 {
    font-family: logoFont;
    font-weight: 400;
    font-size: 1.75em;
    color: var(--secondary-darker);
}

body {
    background-color: var(--primary-color);
}

/* Header */
#header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2.5em;
}

.search-bar {
    display: flex;
    border-radius: 2em;
    padding: 0.6em 1em;
    width: 20%;
    background-color: var(--searchbar-bg);
    gap: 0.5em;
}
.search-bar input {
    background-color: transparent;
    border: none;
    font-size: 1em;
    color: var(--secondary-darker);
}
.search-bar input::placeholder {
    color: var(--placeholder-color);
}
.search-bar input:focus {
    outline: none;
}
.search-bar img {
    filter: brightness(0) saturate(100%) invert(66%) sepia(3%) saturate(393%) hue-rotate(202deg) brightness(85%) contrast(85%);
    width: 1.5rem;
}

.dev-info button {
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: brightness(0) saturate(100%) invert(97%) sepia(5%) saturate(407%) hue-rotate(195deg) brightness(93%) contrast(97%);
}

/* Main */
#main {
    display: grid;
    grid-template-areas: 
    "today hour hour hour"
    "week week week highlights";
    padding: 1em 2.5em;
    gap: 1.5em;
}

.current-container {
    grid-area: today;
    width: 70%;
    background-color: var(--card-color);
    color: var(--secondary-color);
    border-radius: 1.5em;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cards-container {
    grid-area: hour;
    border-radius: 1.5em;
    padding: 1em;
    display: flex;
    background-color: var(--card-color);
    justify-content: space-between;
}

.weekly-container {
    grid-area: week;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    
}

.highlight-container {
    grid-area: highlights;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.weekly-container h3, .highlight-container h3 {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 1.1em;
}

/* Current */
.curr-weather-city {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
}
.curr-weather-city img {
    width: 10rem;
}

/* Hourly */
.hour-card {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 2em;
}
.humid-wind {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-weight: 500;
}
.humidity, .wind {
    display: flex;
    align-items: center;
    gap: 0.3em;
}
.humid-wind img {
    width: 2em;
    filter: var(--icon-color);
}
.temp-time {
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.hour-temp-time {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

/* Weekly */
.weather-week {
    background-color: var(--card-color);
    border-radius: 2em;
    padding: 1em 2.5em;
    color: var(--secondary-color);
}
.week-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.week-day p, .humid-wind p {
    color: var(--placeholder-color);
}

/* Highlight */
.highlight-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
    background-color: var(--card-color);
    border-radius: 1.5em;
    padding: 1.5em;
}

.wind-status, .uv-index, .pressure, .humidity, .visibility, .feels-like {
    display: flex;
    justify-content: space-between;
}
.highlight-cards p {
    color: var(--secondary-color);
    font-weight: 500;
}
.highlight-cards h3 {
    color: var(--placeholder-color);
    font-weight: 400;
}

.icon-and-heading {
    display: flex;
    align-items: center;
    gap: 0.7em;
    
}
.icon-and-heading img {
    width: 2em;
    filter: var(--icon-color);
}
