@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: logoFont;
    src: url(assets/fonts/Neuropol.otf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}

  
img {
max-width: 100%;
display: block;
height: auto;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
}
  
:root {
    --primary-color: rgb(24, 24, 24);
    --secondary-color: rgb(235, 235, 240);
    --secondary-darker: rgb(212, 212, 212);
    --placeholder-color: rgb(119, 119, 121);
    --icon-color: brightness(0) saturate(100%) invert(97%) sepia(5%) saturate(407%) hue-rotate(195deg) brightness(93%) contrast(97%);
    --social-icons: brightness(0) saturate(100%) invert(34%) sepia(90%) saturate(3399%) hue-rotate(179deg) brightness(92%) contrast(97%);
}

  
img {
    max-width: 100%;
    display: block;
    height: auto;
}

.logo h1 {
    font-family: logoFont;
    font-weight: 400;
    font-size: 1.75em;
    color: var(--secondary-color);
}

body {
    background-color: var(--primary-color);
    background-image: url(assets/images/weatherbg.jpg);
    
}

/* Header */
#header {
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    padding: 0 2.5em;
}
.search-info {
    display: flex;
    align-items: center;
    gap: 1em;
}

#search-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#search-btn:focus { 
    outline: none; 
}
.search-bar {
    display: flex;
}
.search-open {
    border-bottom: 2px solid var(--secondary-color);
}
.search-bar input {
    background-color: transparent;
    border: none;
    padding: 0.3em 1em;
    font-size: 1.2em;
    color: var(--secondary-darker);
}
.search-bar input::placeholder {
    color: var(--secondary-color);
}
.search-bar input:focus {
    outline: none;
}
.search-bar img {
    filter: invert(1);
    width: 2rem;
}

.dev-info button {
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    filter: var(--icon-color);
}
.dev-info {
    position: relative;
}

/* Dropdown */
.profile-popup {
    position: absolute;
    right: -1em;
    display: none;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: var(--secondary-color);
    padding: 1.2em;
    border-radius: 1em;
    z-index: 1000;
    width: 20rem;
}
.photo-name img {
    width: 4rem;
    border-radius: 2em;
    border: 3px solid rgb(4, 129, 187);
}
.photo-name {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--secondary-darker);
    padding-bottom: 1em;
    gap: 1em;
}
.photo-name h2 {
    color: rgb(4, 129, 187);
    font-size: 1.2em;
    font-weight: 600;
}
.photo-name span {
    color: var(--placeholder-color);
}

.popup-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.5em;
}
.popup-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
    color: var(--primary-color);
    font-weight: 400;
    font-size: 1.2em;
    gap: 0.7em;
}
.popup-links img {
    width: 1.7em;
    filter: var(--social-icons);
}
.popup-copied {
    display: none;
    color: rgb(4, 129, 187);
    font-weight: 600;
    padding-top: 0.5em;
    justify-self: center;
}


/* Main */
#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em 5em;
    padding-bottom: 3em;
    gap: 16em;
    height: 100vh;
}

.current-weather {
    display: flex;
    justify-content: space-between;
}

.current-container {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    width: 30rem;
}

.cards-container {
    display: flex;
    justify-content: space-between;
}

/* Current */
.curr-date-city {
    display: flex;
    flex-direction: column;
}
.curr-date-city h2 {
    font-size: 4em;
    font-weight: 200;
}
.curr-date-city h3 {
    font-size: 1.7em;
    font-weight: 300;
}
.curr-date-city p {
    font-size: 1.2em;
    font-weight: 300;
}
.curr-city-temp h2 {
    font-size: 4em;
    font-weight: 700;
}
.current-container img {
    width: 10rem;
}
.curr-date {
    font-size: 1em;
    font-weight: 300;
}

/* Highlight */
.highlight-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.wind-status, .uv-index, .pressure, .humid, .visibility, .feels-like {
    display: flex;
    gap:1em;
}

.highlight-cards p {
    color: var(--secondary-color);
    font-size: 1.7em;
    font-weight: 300;
}
.highlight-cards h3 {
    color: var(--secondary-color);
    font-weight: 400;
}

.highlight-cards img {
    width: 2.5em;
    filter: var(--icon-color);
}


/* Week */
.week-card {
    color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
.week-card img {
    width: 5rem;
}
.day-week h3 {
    font-size: 1.7em;
    font-weight: 300;
}
.max-temp {
    font-size: 2.5em;
    font-weight: 700;
}
.min-temp {
    font-size: 1.2em;
    font-weight: 400;
}
